
<nav class="navbar navbar-dark bg-dark p-0 shadow" id="nav5">
    <div class="mx-3">
        <button type="button" id="sidebarCollapse" class="btn btn-outline-light py-0" title="Show menu">
            <i class="fas fa-bars"></i>
            <span>Show menu</span>
        </button>
    </div>
    <a class="navbar-brand" n:href="Homepage:default">Maedow</a>
    <div class="mx-3 text-light">
        Logout
    </div>
</nav>